:root {
   --text-black: black;
   --text-black-50: 50 rgba(0,0,0,0.5);
   --text-white: white;
   --text-white-50: 50 rgba(255,255,255,0.5);
   --primary-1: #434CCC;
   --primary-2: #F1B505;
   --gradient-1: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}

body, .h5 {
   font-family: 'DM Sans', sans-serif;
}

.h1, .h2, .h3, .h4 {
   font-weight: 400;
   font-family: 'DM Serif Display', serif;
}

.h1 {
   font-size: 56px;
   line-height: 64px;
}

.h2 {
   font-size: 40px;
   line-height: 48px;
}

.h3, .h4 {
   font-size: 24px;
   line-height: 32px;
}

.h5 {
   text-transform: uppercase;
   letter-spacing: 0.3em;
   font-size: 16px;
   line-height: 24px;
}

.label {
   font-weight: 700;
   font-size: 12px;
   line-height: 16px;
}

.text-big {
   font-size: 20px;
   line-height: 32px;
}

.text {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
}

.text-grey {
   font-size: 16px;
   line-height: 24px;
}

.text-small {
   font-weight: 700;
   font-size: 12px;
   line-height: 24px;
}

.hero {
   background-color: var(--primary-1);   
   /* padding: 25px 15px env(safe-area-inset-bottom); */
}

.wrap {
   margin: 0 auto;
   max-width: 1200px;
   width: 100%;
}







/******************************
WORKING PROGRESS – KEEP CHANGING MY MIND
*******************************/



.header {
   justify-content: space-between;
}

/* .header {
   background-color: var(--primary-1);   
   margin: 0 auto;
   padding: 25px 15px env(safe-area-inset-bottom);
   padding-bottom: 45px;
} */

.logo {
   height: 17px;
   width: 60px;
   text-indent: 100%;
   overflow: hidden;
   float: left;
}

.menu {
   height: 14px;
   width: 20px;
   float: right;
}





.btn-primary {
   background-color: var(--primary-2);
   border: none;
   border-radius: 5px;
   padding: 13px 55px;
   text-align: center;
   margin: 40px auto;
}

.btn-secondary {
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 5px;
   padding: 13px 55px;
   text-align: center;
   margin: 40px auto;
}

.logo,
.menu,
.btn-primary {
   color: var(--text-white);   
}
   
.illo-dance {
   height: 254px;
   width: 354px;
   margin: 0 auto;
   padding-bottom: 25px;
   margin-top: -20px;
}


/******************************
Mobile TBC
*******************************/

.intro {
   background-color: var(--primary-2); 
   padding-bottom: 80px; 
}

.tortillia {
   width: 370px;
   margin: 0 auto;
}

.filling {
   background-color: var(--text-white);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
   padding: 30px;
   border-radius: 5px;
   
}

.icon-lrg {
   /* background-image: var(--gradient-1); */ 
   margin: 26px auto 50px;
   height: 126px;
   width: 186px;
}

.illo-draw {
   height: 274px;
   width: 334px;
}
   
.illo-laptop {
   height: 224px;
   width: 351px;
}
   
.illo-walk {
   height: 405px;
   width: 252px;
}

.illo-cycle {
   height: 303px;
   width: 346px;
} 

@media (min-width: 376px) {
   .h1 {
      font-size: 72px;
      line-height: 80px;
   }
   
   .h2 {
      font-size: 56px;
      line-height: 64px;
   }
   
   .h3 {
      font-size: 40px;
      line-height: 48px;
   }
   
   .h4 {
      font-size: 24px;
      line-height: 32px;
   }
   
   .hero {
      
   }
   
   
   
   
   
   .logo {
      height: 28px;
      width: 100px;
   }
   
   .illo-dance {
      width: 764px;
      height: 550px;
      padding-right: 100px;
      margin-top: -20px;
   }
   
   /******************************
   Desktop TBC
   *******************************/
   
   .illo-draw {
      height: 315px;
      width: 383px;
   }
      
   .illo-laptop {
      height: 297px;
      width: 462px;
   }
      
   .illo-walk {
      height: 510px;
      width: 317px;
   }
   
   .illo-cycle {
      height: 416px;
      width: 474px;
   } 
}