/* Variables */
:root {
   --text-black: black;
   --text-black-50: rgba(0,0,0,0.5);
   --text-white: white;
   --text-white-50: rgba(255,255,255,0.5);
   --primary-1: #434CCC;
   --primary-2: #F1B505;
   
   --h1-size: 72px;
   --h1-line: 80px;
  
   --h2-size: 56px;
   --h2-line: 64px;
   
   --h3-size: 40px;
   --h3-line: 48px;
   
   --h4-size: 24px;
   --h4-line: 32px;
   
   --h5-size: 16px;
   --h5-line: 24px;
   --h5-space: 0.3em;
   
   --label-size: 12px;
   --label-line: 16px;
   --label-weight: 700;
   
   --text-big-size: 20px;
   --text-big-line: 32px;
   
   --text-size: 16px;
   --text-line: 24px;
   --text-weight: 700;
   
   --text-small-size: 12px;
   --text-small-line: 24px;
   --text-weight: 700;
}

/* Elements */
a {
   text-decoration: none;
}
   
body {
   font-family: 'DM Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   background-color: rgba(67, 76, 204, 0.05);
}

h1, h2, h3, h4, h5 {
   margin: 0;
   font-weight: 400;
}

/* Utilities */
.u-wrap {
   margin: 0 auto;
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
}

.u-header {
   font-family: 'DM Serif Display', serif;
}

/* Buttons */
.btn {
   border-radius: 5px;
   box-shadow: 0 0 0 1px rgba(255,255,255,0.3);
   height: 48px;
   min-width: 170px;
   font-size: var(--text-size);
   line-height: var(--text-line);
   font-weight: var(--text-weight);
   text-align: center;
}

.btn.yellow {
   background-color: var(--primary-2);
   box-shadow: none;
}

.btn:hover {
   background-color: var(--text-white);
   color: var(--primary-1);
}

.btn.nav {
   margin-left: 20px;
}

/* Hero */
.hero {
   background-color: var(--primary-1);
}

@media (min-width: 641px) {
   .hero__split {
      display: flex;
      flex-wrap: wrap;
   }
}

.hero__head {
   display: flex;
   flex: 0 0 100%;
   justify-content: space-between;
   color: var(--text-white);
   align-items: center;
   padding: 24px 0;
}

@media (min-width: 641px) {
   .hero__head {
      padding: 16px 0;
   }
}

.head__logo {
   height: 17px;
   width: 60px;
   text-indent: 100%;
   float: left;
   color: var(--text-white);
}

@media (min-width: 641px) {
   .head__logo {
      height: 28px;
      width: 101px;
   }
}

.head__nav {
   display: none;
}

.head__nav a:hover {
   color: rgba(255,255,255,0.7);
}

.head__menu {
   height: 14px;
   width: 20px;
   margin-left: auto;
}

@media (min-width: 641px) {
   .head__nav {
      font-size: var(--text-size);
      line-height: var(--text-line);
      font-weight: var(--text-weight);
      display: block;
      margin: 0 20px 0 auto;
   }
   
   .head__menu {
      display: none;
   }
   
   .head__link {
      padding: 17px;
      color: var(--text-white);
   }
}

.hero__content {
   color: var(--text-white);
   padding: 14px 0;
}

@media (min-width: 641px) {
   .hero__content {
      max-width: calc((100%/12)*6);
      padding: 95px 0 192px;
      z-index: 1;
   }
}

.hero__title {
   font-size: var(--h2-size);
   line-height: var(--h2-line);
   margin: 6px 0 18px;
}

@media (min-width: 641px) {
   .hero__title {
      font-size: var(--h1-size);
      line-height: var(--h1-line); 
      margin: 24px 0 32px;  
   }
}

.hero__subtitle {
   font-size: var(--h5-size);
   line-height: var(--h5-line);
   letter-spacing: var(--h5-space);
   text-transform: uppercase;
}

.hero__body {
   font-size: var(--text-size);
   line-height: var(--text-line);
   font-weight: var(--text-weight);
   margin-bottom: 24px;
}

@media (min-width: 641px) {
   .hero__body {
      margin-bottom: 41px;
      max-width: 370px;
   }
}

.hero__illustration {
   object-fit: contain;
   padding: 6px 0 32px;
   max-width: calc(100% + 2%);
}

@media (min-width: 641px) {
   .hero__illustration {
      max-width: 60%; 
      margin: 0 -7.2%;
      padding-bottom: 40px;
   }
}

/* Introduction */
.intro {
   background-color: #FFDD78; 
   padding: 40px 0 64px; 
}

@media (min-width: 641px) {
   .intro {
      padding: 62px 0 64px;
   }
}

.intro__title {
   font-size: var(--h3-size);
   line-height: var(--h3-line);
   margin: 0 0 32px;
   text-align: center;
}

@media (min-width: 641px) {
   .intro__title {
      font-size: var(--h2-size);
      line-height: var(--h2-line); 
      margin: 0 0 28px;
   }
}

.intro__body {
   font-size: var(--text-big-size);
   line-height: var(--text-big-line);
   margin: 0 auto 54px;
   max-width: 600px;
   text-align: center;
}

@media (min-width: 641px) {
   .intro__cards {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}

.card {
   background-color: white;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   padding: 60px 18px 0 30px;
   max-width: 370px;
   margin-bottom: 16px;
}

.card__icon {
   margin: 0 auto 47px;
   transform: translateX(-6px);
   height: 126px;
   width: 186px;
}

.card__title {
   font-size: var(--h4-size);
   line-height: var(--h4-line); 
   padding-bottom: 14px;
   max-width: 70%;
}

.card__body {
   font-size: var(--text-size);
   line-height: var(--text-line); 
   color: var(--text-black-50);
   margin-bottom: 24px;
}

.card__link {
   font-size: var(--text-size);
   line-height: var(--text-line);
   font-weight: var(--text-weight);
   color: var(--text-black);
   display: flex;
   align-items: center;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   padding: 20px 0;
   margin-right: -18px;
}

.card__arrow {
   margin-left: 8px;
   height: 12px;
   width: 8px;
}

/* About */
.about {
   padding: 64px 0; 
}

@media (min-width: 641px) {
   .about {
      padding: 64px 0 190px;
   }
}

@media (min-width: 641px) {
   .about__split {
      display: flex;
      flex-wrap: wrap;
   }
}

.about__head {
   flex: 0 0 100%; 
   padding-bottom: 42px;  
}

.about__title {
   font-size: var(--h3-size);
   line-height: var(--h3-line);
   margin: 20px 0 32px;
   text-align: center;
}

@media (min-width: 641px) {
   .about__head {
      padding-bottom: 54px;
   }
   
   .about__title {
      font-size: var(--h2-size);
      line-height: var(--h2-line); 
      margin: 22px 0 28px;
   }
}

.about__subtitle {
   font-size: var(--h5-size);
   line-height: var(--h5-line);
   letter-spacing: var(--h5-space);
   text-transform: uppercase;
   text-align: center;
}

.about__body {
   font-size: var(--text-big-size);
   line-height: var(--text-big-line);
   margin-bottom: 24px;
   text-align: center;
}

@media (min-width: 641px) {
   .about__body {
      margin: 0 auto 54px;
      max-width: 580px;
   }
}

.about__illustration {
   object-fit: contain;
   max-width: calc(100% - 2%);
   transform: translateX(2%);
}

@media (min-width: 641px) {
   .about__illustration {
      margin: 0 auto 54px;
   }
}







/******************************
WORKING PROGRESS
*******************************/


@media (min-width: 641px) {
   .about__content {
      /* vertical-align: middle; */
      max-width: calc((100%/12)*8);
      /* margin: auto; */
      /* max-width: 50%; */
      /* max-width: 960px; */
      /* padding: 95px 0 192px; */
   }
}








/* NEEDS TO MATCH SECTION */
.content__title {
   font-size: var(--h4-size);
   line-height: var(--h4-line);
   max-width: 70%;
   padding-bottom: 22px; 
}

.content__body {
   font-size: var(--text-size);
   line-height: var(--text-line);
   color: var(--text-black-50);
   padding-bottom: 16px; 
} 

@media (min-width: 641px) {
   .content__title {
      font-size: var(--h3-size);
      line-height: var(--h3-line);
   }
   
   .content__body {
      max-width: 470px;
      padding-bottom: 36px; 
   }
}

.content__link {
   font-size: var(--text-size);
   line-height: var(--text-line);
   font-weight: var(--text-weight);
   color: var(--text-black);
   display: flex;
   align-items: center;
}

.content__arrow {
   margin-left: 8px;
   height: 12px;
   width: 8px;
}


















.temp {
   margin-top: 15px;
}


.X1 {
   background: red;
}

.X2 {
   background: orange;
}

@media (min-width: 641px) {
   .X1,
   .X2 {
      max-width: 50%;
   }
}



.illo-laptop {
   /* width: 351px;
   height: 224px; */
   object-fit: contain;
   padding: 70px 0 40px;
}

@media (min-width: 641px) {
   .illo-draw {
      width: 383px;
      height: 315px;
   }
   
   .illo-laptop {
      width: 462px;
      height: 297px;
   }
}




/******************************
IMAGES
*******************************/

.illo-walk {
   height: 405px;
   width: 252px;
}

@media (min-width: 641px) {
   .illo-walk {
      height: 510px;
      width: 317px;
   }
}

.illo-cycle {
   height: 303px;
   width: 346px;
} 

@media (min-width: 641px) {
   .illo-cycle {
      height: 416px;
      width: 474px;
   } 
}